.container{
    width:100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.weeks-container{
    display:flex;
    width:50%;
    height: 50%;
    justify-content: center;
    align-items: center;
    font-size: 10rem;
    
}
